<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/template-styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>No Clothes</h1>
    </header>

    <div class="container">
        <aside class="left">
            <div>
                <a href="/index.html"><button class="home"><i class="fa-solid fa-house"
                            style="color: #ffa07a;"></i></button></a>
                <a href="/templates/pantalones.html"><button class="pantalones"> Pantalones</button></a>
                <a href="/templates/playeros.html"><button class="playeros">Playeros</button></a>
            </div>
        </aside>
        <section>
            <div style="display: flex; justify-content: center;">
                <div class="tile-section">camisetas</div>
            </div>

            <table id="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>

        </section>
        <aside class="right">
            <div class="search">
                <input class="input-template" type="text" id="searchInput" placeholder="BUSCAR">
                <button class="searchbtn" onclick="shearchProduct()">BUSCAR</button>
            </div>

            <button id="show-form-button" onclick="showForm()">Añadir Producto</button>

            <form id="product-form" style="display: none;">
                <label for="product-name">Nombre del Producto:</label>
                <input type="text" id="product-name" required>
                <br>
                <label for="product-quantity">Cantidad:</label>
                <input type="number" id="product-quantity" required>
                <br>
                <label for="product-price">Precio:</label>
                <input type="number" id="product-price" required>
                <br>
                <input type="button" value="Añadir Producto" onclick="addProduct()">
            </form>

        </aside>
    </div>

    <footer>
        <p class="location"><i class="fa-solid fa-location-dot" style="color: #ffa07a; margin-right: 20px;"></i> Calle
            Corrida 537</p>
        <p class="insta"><i class="fa-brands fa-instagram" style="color: #ffa07a;"></i></p>
        <p class="twtt"><i class="fa-brands fa-twitter" style="color: #ffa07a;"></i></p>
        <p class="phone"><i class="fa-solid fa-phone" style="color: #ffa07a; margin-right: 20px;"></i> 985 99 88 55 </p>
    </footer>

    <script src="https://kit.fontawesome.com/c3db1c8a5f.js" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
</body>

</html>