<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/template-styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>No Clothes</h1>
    </header>

    <div class="container">
        <aside class="left">
            <div class="sites-button">
                <a href="/index.html"><button class="home"><i class="fa-solid fa-house"
                            style="color: #ffa07a;"></i></button></a>
                <a href="/templates/camisetas.html"><button class="playeros">Camisetas</button></a>
                <a href="/templates/pantalones.html"><button class="pantalones"> Pantalones</button></a>
            </div>
        </aside>
        <section>
            <div style="display: flex; justify-content: center;">
                <p class="title-section">playeros</p>
            </div>

            <table id="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>

            <div>
                <div>
                    <button id="show-form-button">Añadir Producto</button>
                </div>
                <div class="form-container">
                    <form id="product-form" style="display: none;">

                        <input type="text" class="input-form" id="product-name" required placeholder="Nombre del Producto">

                        <input type="number" class="input-form" id="product-quantity" required placeholder="Cantidad">

                        <input type="number" class="input-form" id="product-price" required placeholder="Precio">

                        <input class="add-btn" id="add-product-button" type="button" value="Añadir Producto">
                    </form>
                </div>
            </div>

        </section>
        <aside class="right">
            <div class="search">
                <input class="search-template" type="text" id="searchInput" placeholder="BUSCAR">
                <button class="search-btn" onclick="shearchProduct()">BUSCAR</button>
            </div>
        </aside>
    </div>

    <footer>
        <p class="location"><i class="fa-solid fa-location-dot" style="color: #ffa07a; margin-right: 20px;"></i> Calle
            Corrida 537</p>
        <p class="insta"><i class="fa-brands fa-instagram" style="color: #ffa07a;"></i></p>
        <p class="twtt"><i class="fa-brands fa-twitter" style="color: #ffa07a;"></i></p>
        <p class="phone"><i class="fa-solid fa-phone" style="color: #ffa07a; margin-right: 20px;"></i> 985 99 88 55 </p>
    </footer>

    <script src="https://kit.fontawesome.com/c3db1c8a5f.js" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/table-playeros.js"></script>
    <script type="module" src="/scripts/add-playeros.js"></script>

</body>

</html>