@font-face {
    font-family: Sandler;
    src: url(/assets/fonts/Sandler\ Trial.otf);
}

@font-face {
    font-family: Mulish;
    src: url(/assets/fonts/Mulish-VariableFont_wght.ttf);
}

body {
    font-size: 20px;
    font-family: Mulish;
    background: radial-gradient(#f0f0f0 60%, #5c5b5b);
}

img{
    width: 300px;
}

button{
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: translateY(2px);
}

/* header */
h1 {
    font-family: Sandler;
    font-size: 70px;
    color: lightsalmon;
}


/* asside izquierdo */
.contact-title {
    font-weight: bold;
    background-color: #34495E;
    border-radius: 10px;
    padding: 5px;
    color: #f0f0f0;
}

.imgFerreteria{
    margin-top: 50px;
}

/* section central */
.container {
    display: flex;
    margin-top: 0px;
}

.title {
    background-color: #34495E;
    color: lightsalmon;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    border: solid #34495E;
    border-top: solid lightsalmon;
    margin-top: 0px;
    font-family: Sandler;
    font-size: 50px;
    text-align: center;

}


/* input  de busqueda */
.search {
    margin-bottom: 20px;
}

.search-input {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    width: 300px;
    font-family: Mulish;
    font-size: 15px;
    font-weight: bold;
    border: solid lightsalmon;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px lightsalmon;
    outline: none;
}

.search-input::placeholder {
    text-align: center;
}

.search-btn {
    font-size: 20px;
    background-color: lightsalmon;
    color: #f0f0f0;
    padding: 5px;
    border: none;
    border-radius: 5px;
}


/* tabala de productos */
.mainTable {
    flex: 1;
    min-height: 181px;
    border: solid lightsalmon;
    border-collapse: collapse;
    padding: 10px;

}

.mainTable th{

    background-color: #34495E;
    color: #f0f0f0;
    font-size: 25px;
}

.mainTable th, td {
    border-bottom: solid lightsalmon;
    padding: 10px;
}

.mainTable tr:hover{
    font-weight: bold;
}

.cellButton{
    width: 150px;
}

.tableButton {
    font-family: Mulish;
    font-size: 15px;
    background-color: #34495E;
    color: lightsalmon;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#saveButton {

    font-family: Mulish;
    font-size: 15px;
    background-color: lightsalmon;
    color: #34495E;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}


/* formulario añadir producto */
#show-form-button {
    background-color: lightsalmon;
    color: #f0f0f0;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-form {
    text-align: center;
    background-color: #f0f0f0;
    font-family: Mulish;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border: solid lightsalmon;
    border-radius: 10px;
    outline: none;
}

.input-form::placeholder{
    text-align: center;
}

.add-btn {
    background-color: lightsalmon;
    font-size: 20px;
    color: #f0f0f0;
    padding: 5px;
    border: none;
    border-radius: 5px;
}



/* asside derecho */
.marcas {
    text-align: center;
}



.marcas th {
    background-color: #34495E;
    border-radius: 10px;
    height: 35px;
    color: #f0f0f0;
}

.marcas td {
    border: none;
    padding: 20px;
}


/* footer */
footer p {
    margin: 0;
    cursor: pointer;
}

.phone {
    margin-left: 10px;
}
