@font-face {
    font-family: Sandler;
    src: url(/assets/fonts/Sandler\ Trial.otf);
}

@font-face {
    font-family: Mulish;
    src: url(/assets/fonts/Mulish-VariableFont_wght.ttf);
}

body {
    font-size: 20px;
    width: 99vw;
    font-family: Mulish;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #34495E;
    border-radius: 20px;
    margin-top: 0px;
    width: 99vw;
}


section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    font-size: 20px;
    background-color: #34495E;
    color: rgb(255, 160, 122);
    border-radius: 20px;
}

h1 {
    font-family: Sandler;
    font-size: 70px;
    color: lightsalmon;
}

.left{
    display: flex;
    flex: 0 0 auto;
    width: 300px;
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.contact-body{
    min-width: 200px;
    margin-top: 20px;
    text-align: justify;
}

.contact-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    background-color: #34495E;
    border-radius: 10px;
    padding: 5px;
    color:#f0f0f0;
}

.container{
    display: flex;
    margin-top: 0px;
}

.tittle-container{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.right{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: right;
    margin-top: 20px;
    width: 300px;
    margin-left: 50px;
    margin-right: 20px;
}

.marcas{
    margin-top: 20px;
    min-width: 200px;
    text-align: center;
    height: 300px;
}

.marcas th{
    background-color:#34495E;
    border-radius: 10px;
    height: 35px;
    color:#f0f0f0;
}

.marcas td {
    padding: 20px;
}

footer p {
    margin: 0;
    cursor: pointer;
}

.phone{
    margin-left: 10px;
}
    
